.head{
	background-color:#FDDD30;
	border:2px hidden black;
	border-radius:20px;
	padding:5px;
	margin-top:7em;
	margin-bottom:2em;
}
.heading{
	font-family:Acme;
}
.header{
	padding-top:8px;
	padding-right:4px;
	padding-left:4px;
	background-color:#e5F5ff;
	color:white;
}
.order{
	max-height:100px;
}

.track{	
	max-height:220px;
	max-width:500px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer{
	padding-top:7px;
	border:1px hidden grey;
}